<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <title>Ricerca treno</title>
</head>
<body>
<div id="app" class="container-fluid">
        <label for="departure">Stazione partenza:</label><br>
        <input v-model="newRequest.departure" type="text" id="departure" name="departure" value=""><br>
        <label for="arrival">Stazione destinazione:</label><br>
        <input v-model="newRequest.arrival" type="text" id="arrival" name="arrival" value=""><br>
        <label for="date">Data partenza:</label><br>
        <input v-model="newRequest.date" type="date" id="date" name="date" value=""><br>
        <label for="time">Ora di partenza:</label><br>
        <input v-model="newRequest.time" type="time" id="time" name="time" value=""><br>
        <input  @click.prevent="listSolutions" type="submit" value="Submit">

        <div v-if="loading == true">
                <p>Caricamento soluzioni ...</p>
        </div>
        <div v-if="loadingMonitor == true">
                <p>Cercando informazioni per monitorare la soluzione ...</p>
        </div>

        <div v-for="sol in solutions">
                <hr>
                <h3 v-if="sol.trainidentifiers.length === 1">{{sol.trainidentifiers[0]}}</h3>
                <div v-else v-for="train in sol.trainidentifiers">
                        <h3>{{train}}</h3>
                </div>
                <p>Partenza: {{getTimeFromMillis(sol.departuretime)}}</p>
                <p>Arrivo: {{getTimeFromMillis(sol.arrivaltime)}}</p>
                <p>Durata: {{sol.duration}}</p>

                <input @click="startMonitoring(sol.trainidentifiers)" type="submit" value="Monitor solution" />
        </div>

        <div>
                <div v-if="trains.length > 0">
                        <h2>Monitaggio treni:</h2>
                        <div v-for="train in trains">
                                <h3>{{train.trainName}}</h3>
                                <p>Ultima stazione rilevata: {{train.lastStationName}}</p>
                                <p v-if="train.delay > 0">Con un ritardo di: {{train.delay}} minuti</p>
                                <p v-else>Il treno è in orario </p>
                        </div>

                        <div v-for="train in trains">
                                <h3>Fermate per il treno {{train.trainIdentifier}}</h3>
                                <div v-for="s in train.stops" style="border: 1px solid #000000; background-color: #FFFFFF; width: 500px; -moz-border-radius: 15px; line-height:13px; font-size: 15px; color: #002eba; padding:10px;">
                                        <p> FERMATA: {{s.Name}} </p>
                                        <div v-if="s.stopArrival != null">
                                                <p>Arrivo previsto: {{getTimeFromMillis(s.stopArrival)}}</p>
                                                <div v-if="s.stopArrivalReal!=null">
                                                        <p>Arrivo reale: {{getTimeFromMillis(s.stopArrivalReal)}}</p>
                                                </div>
                                        </div>
                                        <div>
                                                <p>Partenza prevista: {{getTimeFromMillis(s.stopDeparture)}}</p>
                                                <div v-if="s.stopDepartureReal!=null">
                                                        <p>Partenza reale: {{getTimeFromMillis(s.stopDepartureReal)}}</p>
                                                </div>
                                        </div>
                                </div>
                        </div>

                </div>
        </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
        var refreshIntervalId
        new Vue({
                el: "#app",

                data: function (){
                        return {
                                loading: false,
                                loadingMonitor: false,
                                solutions: [],
                                newRequest: {
                                        departure:"cesena",
                                        arrival:"ancona",
                                        date:"",
                                        time:"15:30"
                                },
                                trainNames: [],
                                trains: []
                        // {
                        //         trainIdentifier : "",
                        //         lastStationName: "",
                        //         delay: "",
                        //         stops: []
                        // }
                        }
                },
                methods: {
                        listSolutions: function(){
                                this.trains = []
                                this.stops = []
                                clearInterval(refreshIntervalId)
                                this.loading = true
                                this.solutions = [];
                                axios.get("http://localhost:3123/solutions",{
                                        params:{
                                                departure: this.newRequest.departure,
                                                arrival: this.newRequest.arrival,
                                                date: this.newRequest.date,
                                                time: this.newRequest.time,
                                        }
                                }).then( response => {
                                        this.solutions = response.data.solutions;
                                        this.loading = false;
                                })
                        },
                        startMonitoring: function(trainArray){
                                this.trainNames = trainArray;
                                this.solutions = []
                                this.loadingMonitor = true;
                                clearInterval(refreshIntervalId)
                                refreshIntervalId = setInterval(function(){
                                        this.monitoring(trainArray)
                                }.bind(this), 5000);

                        },
                        monitoring: function(trainArray){
                                trainArray
                                        .map(trainName => trainName.split(" ").pop())
                                        .forEach(trainId => {
                                        this.getDepartureStation(trainId).then( res => {
                                                        axios.get("http://localhost:3123/realtimeInfo",{
                                                                params:{
                                                                        stationID: res.station,
                                                                        trainID: trainId,
                                                                        date:  Date.now(),
                                                                }
                                                        }).then( response => {
                                                                this.updateTrain(response.data, trainId)
                                                        }).catch( err => {
                                                                console.log(err)
                                                        })
                                                })
                                        })
                                this.loadingMonitor = false;
                        },
                        updateTrain: function (info, trainId){
                                let foundIndex =  this.trains.findIndex(train => train.trainIdentifier === trainId);
                                if (foundIndex !== -1){
                                        //update
                                        this.trains[foundIndex].stops = info.stops
                                        this.trains[foundIndex].delay = info.trainDelay
                                        this.trains[foundIndex].lastStationName = info.lastStation
                                } else {
                                        //create
                                        const indexOfTrainName = this.trainNames.findIndex(name => name.includes(trainId))
                                        this.trains.push({
                                                trainName: this.trainNames[indexOfTrainName],
                                                trainIdentifier : trainId,
                                                lastStationName: info.lastStation,
                                                delay: info.trainDelay,
                                                stops: info.stops
                                        })
                                }
                        },
                        getDepartureStation: function (train) {
                                return axios.get("http://localhost:3123/trainStation",{
                                        params:{
                                                trainID: train
                                        }
                                }).then( response => {
                                        return {
                                                error: response.data.error,
                                                station : response.data.stationId
                                        }
                                })
                        },
                        getTimeFromMillis: function(timeInMillis){
                                return new Date(timeInMillis).toISOString().slice(11,16)
                        }
                }
        })
</script>
</body>
</html>