<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Monitor solution</title>
</head>
<body>
<div id="monitor-app">
    <div v-for="train in solutions">
        <h2>{{trainName}}</h2>
        <p>Partito da: {{origin}} alle:</p>
        <p>Diretto a: {{arrival}}</p>
        <p>Arrivo stimato: {{arrivalTime}} con un ritardo di: {{ritardo}}</p>
        <label for="stations">Lista fermate</label>
        <ul id="stations">
            <!--<div v-for="stop in stops"></div>
            <li v-model="stopName"> {{stopName}}</li>-->
        </ul>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
  var app = new Vue({
    el: "#monitor-app",
    data: function (){
      return {
          trainName:"",
          departureStationId:"",
          arrival:"",
          arrivalTime:"",
          ritardo: "",
      }
    },
      created() {
          let uri = window.location.search.substring(1)
          let params = new URLSearchParams(uri)
          this.origin = params.get("origin")
          this.trainName = params.get("trainName")
      },
    methods: {
      // definire funzione listMovies
      listSolutions: function(){
        axios.get("http://localhost:3123/solutions",{
          params:{
            departure: this.newRequest.departure,
            arrival: this.newRequest.arrival,
            date: this.newRequest.date,
            time: this.newRequest.time,
          }
        }).then( response => {
        })
      }
    }

  })
</script>
</body>
</html>